# Name: Muhammad Zaraar Malik
# Roll No.: 21i-2705
# Assignment 6

# Instruction

1. Don‚Äôt plagiarize, Plagiarism would lead to straight zero
2. Clearly mention your NAME and ROLL NO#.
3. Late submissions are not allowed. Start Early.

In [1]:
#import libraries
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.edge.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
# from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
from selenium.webdriver.remote.webelement import WebElement

# Question 1  (10 marks)

Scrape 3 pages of reviews for a single product listing using product URL.<br /> Note: Product must have more than 1 review page. The code must be generic and should work for every product listing URL, with proper checks in place.

In [9]:
url="https://www.daraz.pk/products/mens-outdoor-outdoor-running-shoes-waterproof-casual-desert-sneakers-plus-size-i364720036-s1839553265.html?spm=a2a0e.searchlistcategory.list.75.34e96f046rZToa&search=1"
path="chromedriver.exe"
driver=webdriver.Chrome(path)
driver.get(url)
driver.execute_script("window.scrollBy(0,1200)","")
time.sleep(10)
review=driver.find_elements(By.CLASS_NAME,"item")
r=[]
names=[]
for i in review:
    r.append(i.find_element(By.CLASS_NAME,"content").text)
    names.append(i.find_element(By.CLASS_NAME,"middle").text)
driver.execute_script("window.scrollBy(0,1400)","")
time.sleep(5)
l=driver.find_element(By.XPATH,'//*[@id="module_product_review"]/div/div/div[3]/div[2]/div/div/button[2]')
l.click()
time.sleep(10)
review=driver.find_elements(By.CLASS_NAME,"item")
for i in review:
    r.append(i.find_element(By.CLASS_NAME,"content").text)
    names.append(i.find_element(By.CLASS_NAME,"middle").text)
driver.execute_script("window.scrollBy(0,1400)","")
time.sleep(9)
l=driver.find_element(By.XPATH,'//*[@id="module_product_review"]/div/div/div[3]/div[2]/div/div/button[3]')
l.click()
time.sleep(15)
review=driver.find_elements(By.CLASS_NAME,"item")
for i in review:
    r.append(i.find_element(By.CLASS_NAME,"content").text)
    names.append(i.find_element(By.CLASS_NAME,"middle").text)
driver.close()

C:\TEMP\ipykernel_4344\176143.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(path)

In [10]:
df=pd.DataFrame([names,r])

In [11]:
df=df.T

In [12]:
df.rename({0:"Names",1:"Review Text"},axis=1,inplace=True)

In [13]:
df

,Names,Review Text
0,by S***hVerified Purchase,Delivery üöö on Time \nQuality Good ‚ò∫Ô∏è \nSame Wh...
1,by U***.Verified Purchase,A1üòòüëàüíØüëàquality staff. im impress üòäüòäüëàthk...
2,by WorldVerified Purchase,Very Good Quality With Satisfactory Price.No f...
3,by *******528Verified Purchase,Bht zabardast hai Jaise Dekha Waisea Mila Than...
4,by Amina S.Verified Purchase,color change h thora wesy sb thk h i recommend...
5,by A***.Verified Purchase,Very Good quality nice experience with this se...
6,by MohsinVerified Purchase,Its packing is not good but it seems ok and ca...
7,by 0***9Verified Purchase,Zbrdst h bht acha h
8,by 3***3Verified Purchase,Good quality
9,by 3***3Verified Purchase,Good
10,by ****5Verified Purchase,good
11,by *******043Verified Purchase,very nice colour and very good shoes sole.\nth...
12,by Zulqarnain A.Verified Purchase,"shabaash, 400 wali cheez 900 mainy dainy ka sh..."
13,by AmjadVerified Purchase,thank you so much Sir bohat kam kemat ma Bohat...
14,by ZaheerVerified Purchase,delivered shoes are not what was ordered. A ch...

In [22]:
#Output
df

           Name                                        Review text
0     Nabeel B.  Cellphone is great, was delivered on said time...
1     Salman R.  Great response excellent delivery time and pro...
2   Mohammad H.  One of the best in it's category. highly recom...
3         M***.        Very good product daraz good service thankx
4      hamxa M.                  Original product and good packing
5    Saqlain A.  Sir warranty card pr koi date ya sign nai to b...
6          M D.  Mobile is original but seller is too lazy in t...
7         N***.      Phone is perfect but now prices are increased
8      umair K.                   best phone in this price range.
9      Imran K.                                 original product üëç

### Question 1 Part b  (10 marks)

Clean the Reviews using NLTK,RE. Remove Punctuations, Smilies and other garbage using any library. 

Apply Vader Sentiment to find the sentiment of the review, and append it in a column named "Sentiment".

You can get help of Vader sentiment from this; https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664

In [18]:
# import nltk
# nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [14]:
from nltk.tokenize import word_tokenize,RegexpTokenizer
Names=df["Names"]
Review=df["Review Text"]
new_names=[]
lowered=[]
new_review=[]
for i in range(len(names)):
    new_names.append(Names[i].replace("Verified Purchase","").replace("by",""))
    lowered.append(Review[i].lower())
tokenizer=RegexpTokenizer(r"\w+")
for i in lowered:
    new_review.append(tokenizer.tokenize(i))
a_new_review=[]
for i in new_review:
    a=" ".join(str(read) for read in i)
    a_new_review.append(a)
    a=""

In [15]:
new_df=pd.DataFrame((new_names,a_new_review))
new_df=new_df.T

In [16]:
new_df.rename({0:"Names",1:"Review Text"},axis=1,inplace=True)

In [17]:
new_df

             Names                                        Review Text
0            S***h  delivery on time quality good same which i ord...
1            U***.  a1 quality staff im impress thkns for saler an...
2            World  very good quality with satisfactory price no f...
3       *******528  bht zabardast hai jaise dekha waisea mila than...
4         Amina S.   color change h thora wesy sb thk h i recommended
5            A***.  very good quality nice experience with this se...
6           Mohsin  its packing is not good but it seems ok and ca...
7            0***9                                zbrdst h bht acha h
8            3***3                                       good quality
9            3***3                                               good
10           ****5                                               good
11      *******043  very nice colour and very good shoes sole thor...
12   Zulqarnain A.  shabaash 400 wali cheez 900 mainy dainy ka shu...
13           Amjad  thank you so much sir bohat kam kemat ma bohat...
14          Zaheer  delivered shoes are not what was ordered a che...

In [28]:
sentiments=[]
checker= SentimentIntensityAnalyzer()

to_check=new_df["Review Text"]

for i in to_check:
    sentiments.append(checker.polarity_scores(i))

In [41]:
sent=[]
for i in sentiments:
    for n in i.keys():
        if n=="compound":
            if i[n]>0:
                sent.append("pos")
            else:
                sent.append("neg")

In [42]:
new_df["Sentiments"]=sent

In [43]:
new_df

,Names,Review Text,Sentiments
0,S***h,delivery on time quality good same which i ord...,pos
1,U***.,a1 quality staff im impress thkns for saler an...,pos
2,World,very good quality with satisfactory price no f...,pos
3,*******528,bht zabardast hai jaise dekha waisea mila than...,pos
4,Amina S.,color change h thora wesy sb thk h i recommended,pos
5,A***.,very good quality nice experience with this se...,pos
6,Mohsin,its packing is not good but it seems ok and ca...,pos
7,0***9,zbrdst h bht acha h,neg
8,3***3,good quality,pos
9,3***3,good,pos
10,****5,good,pos
11,*******043,very nice colour and very good shoes sole thor...,pos
12,Zulqarnain A.,shabaash 400 wali cheez 900 mainy dainy ka shu...,neg
13,Amjad,thank you so much sir bohat kam kemat ma bohat...,pos
14,Zaheer,delivered shoes are not what was ordered a che...,neg

# Question 2   (20 marks)

Scrape 80 items for a keyword search e.g., 'mobile covers'<br/>Note: Must use "click()" function of webElement, URL changing for pages is not allowed. The code must be generic and should work for every keyword, with proper checks in place. Bonus for also scraping country and Daraz Mall availability.

In [18]:
query = 'mobile covers'
url ='https://www.daraz.pk/'
path="chromedriver.exe"
count=0
names=[]
prices=[]
stars=[]
rating=[]

In [19]:
check=-1
for i in range(0,80):
    
    driver=webdriver.Chrome(path)
    driver.get(url)
    time.sleep(8)
    driver.maximize_window()
    search=driver.find_element(By.ID,"q")
    search.send_keys(query)
    search.send_keys(Keys.RETURN)
    time.sleep(5)
      
    
  
    if i>40:
         driver.execute_script("window.scrollBy(0,1900)","")
         check=check+1
         l=driver.find_element(By.XPATH,"//*[@id='root']/div/div[2]/div/div/div[1]/div[3]/div/ul/li[3]/a")
         l.click()
         time.sleep(10)
    
    mobile_box=driver.find_element(By.CLASS_NAME,"box--ujueT")
    
    #mobile_info=mobile_box.find_elements(By.TAG_NAME,"a")
    
    mobile_info=mobile_box.find_elements(By.CLASS_NAME,"title--wFj93")
    driver.execute_script("window.scrollBy(0,300)","")
    if i<40:
        searching=mobile_info[i]
    else :
        searching=mobile_info[check]
    try:
        searching.click()
    except:
        driver.execute_script("window.scrollBy(0,60)","")
        searching.click()
    #mobile_info[i].click()
    time.sleep(5)
    price=driver.find_element(By.CLASS_NAME,"pdp-product-price").text
    #price=p.find_element(By.CLASS_NAME," pdp-price pdp-price_type_normal pdp-price_color_orange pdp-price_size_xl").text
    name=driver.find_element(By.CLASS_NAME,"pdp-mod-product-badge-title").text
    time.sleep(10)
  #  driver.execute_script("window.scrollBy(0,1350)","")
   # time.sleep(7)
  
    element =driver.find_element(By.XPATH,"//*[@id='module_product_review']/div/div/div[1]")
    #element =driver.find_element(By.XPATH,"//*[@id='module_product_review']/div/div/div[1]/div[2]/div/div/div[1]/div[1]/span[1]")
    driver.execute_script("arguments[0].scrollIntoView(true);",element)
    
    time.sleep(10)
    #star=driver.find_element(By.XPATH,"//*[@id='module_product_review']/div/div/div[1]/div[2]/div/div/div[1]/div[1]/span[1]").text
    star=driver.find_element(By.CLASS_NAME,"summary")
    star=star.find_element(By.CLASS_NAME,"score-average").text
    rate=driver.find_element(By.CLASS_NAME,"count").text
    time.sleep(10)
    names.append(name)
    prices.append(price)
    stars.append(star)
    rating.append(rate)
    driver.close()
    time.sleep(7)
    print(i)

C:\TEMP\ipykernel_4932\2977139957.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(path)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79

In [37]:
zzz=[]
for i in prices:
    zzz.append(i.split("\n")[0].replace("Rs.",""))

In [38]:
df=pd.DataFrame((names,zzz,stars,rating))

In [39]:
df=df.T

In [40]:
df.rename(columns={0:"Names",1:"Price",2:"Stars",3:"Reviews"},inplace=True)

In [41]:
df

                                                Names Price Stars      Reviews
0   Hontinga for Samsung A50 A30S A50S Back Cover ...   500   4.7   79 Ratings
1   Hontinga for Vivo S1 Case Fashion Racing Side ...   600   4.6   17 Ratings
2   Hontinga for Vivo Y20 2021 Y20i Y20S Y12S Y20S...   589   4.7  131 Ratings
3   Hontinga for OPPO Reno 2 Case Luxury 6D Platin...   569   4.7   41 Ratings
4   Google Pixel 4 Case, Soft TPU Matte Finish Mob...   299   4.8   50 Ratings
..                                                ...   ...   ...          ...
75  Hontinga for Infinix Hot 10 Back Cover Luxury ...   500   4.8  129 Ratings
76  For Samsung Galaxy A13 4G Back Cover with Ring...   657   4.9   19 Ratings
77  For Vivo Y20 Back Cover with Ring Holder Stand...   657   4.9   18 Ratings
78  For Vivo Y55 4G Back Cover with Ring Holder Lu...   635   4.8    6 Ratings
79  Hontinga for Xiaomi Poco X3 GT Case Luxury 6D ...   589   4.9   17 Ratings

[80 rows x 4 columns]

In [19]:
#Output
df

                                                 Name  Price  Stars  Reviews
0   Lenuo Luxury 6D Plating Soft Casing Silicone S...    837    4.6       14
1   Lenuo Luxury 6D Plating Soft Casing Silicone S...    837    4.7       23
2   Xiaomi Redmi Note 4 Case , Smoky Matte Shock P...    249    4.9       33
3   Huawei Nova Plus MATTE BLACK FLEXIBLE TPU CASE...    149    5.0        5
4   For Sony Xperia XZ3 Heavy Duty Armor Tough Hyb...    649    5.0       25
..                                                ...    ...    ...      ...
75  Xiaomi Redmi Note 7 / Note 7Pro Case , Smoky M...    249    4.7       46
76  Xiaomi Poco F3 Case , Soft TPU Camera Protecti...    185    4.9       35
77  Infinix Note 10 Pro , Full Protection Vinyl Sk...     99    4.6      112
78  Huawei Nova 3i Antishock Drop Resistance Armor...    449    5.0       58
79  Handfree Cover Charger Hard Case eva Coin Carr...    127    4.7       75

[80 rows x 4 columns]

# Question 3  (30 marks)

<!-- Which Products are on Flash sale? Display Product name, Actual Price, Discounted Price, Discount Percentage, Rating, No. of Reviews, Top 3 reviews displayed.

Display output must be like this. Products may vary. -->

If a user wants to make a store to sell something, lets say "Mobile Covers". He/She wants to see folowing things:
1. Top 10 Sellers store names
2. Daraz Mall Store/ Private store
3. Total "Mobile Covers" listings on his store
4. Avg Prices
5. Avg Units selling
6. Positive Seller Ratings
7. Seller Country

In [16]:
path="chromedriver.exe"
driver=webdriver.Chrome(path)
url="https://www.daraz.pk/catalog/?from=filter&q=mobile%20covers"
driver.get(url)
driver.maximize_window()
time.sleep(1)
driver.execute_script("window.scrollBy(0,100)","")
time.sleep(2)
search=driver.find_element(By.XPATH,"//*[@id='root']/div/div[2]/div/div/div[2]/div/div[3]/div[2]/div/div")
time.sleep(1)
#search1=driver.find_elements(By.CLASS_NAME,"ant-checkbox")
store_name=[]
lis=[]
mall_type=[]
country_type=[]
avg_price=[]
seller_rating=[]
followers=[]
for i in range(0,11):
     search1=driver.find_elements(By.CLASS_NAME,"ant-checkbox")
     search1[i].click()
     time.sleep(2)
     listings=driver.find_element(By.XPATH,"//*[@id='root']/div/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div").text
     mall=driver.find_element(By.XPATH,"//*[@id='root']/div/div[2]/div/div/div[2]/div/div[3]/div[2]").text
     box=driver.find_element(By.CLASS_NAME,"box--ujueT")
     z=0
     items=0
     rate=0
     for pp in box.find_elements(By.CLASS_NAME,"price--NVB62"):
            items+=1
            if "," in pp.text.split(" ")[1]:
                    z=z+int(pp.text.split(" ")[1].replace(",",""))
            else :
                z=z+int(pp.text.split(" ")[1])
     avg_price.append(int(z/items)) 
     beta=list(listings.split(" "))
     if mall!="Pakistan" and mall!="China":
        mall="Daraz Mall"
     else:
        mall="Private Mall"
     country=driver.find_element(By.XPATH,"//*[@id='root']/div/div[2]/div/div/div[2]/div/div[4]/div[2]").text
     if country=="-":
            country=driver.find_element(By.XPATH,"//*[@id='root']/div/div[2]/div/div/div[2]/div/div[3]/div[2]").text
     
     if "Pakistan" in country :
                country_type.append("Pakistan")
     else:
            country_type.append("China")
   
     #take1=driver.find_element(By.XPATH,"//*[@id='root'/div/div[2]/div/div/div[1]/div[3]/div[1]/div/div/div[2]/div[2]/a")
     take1=driver.find_element(By.CLASS_NAME,"title--wFj93")
     take1.click()
     time.sleep(4)
     take2=driver.find_element(By.CLASS_NAME,"seller-link")
     time.sleep(5)
     try:
          take2.click()
     except:
         driver.execute_script("window.scrollBy(0,60)")
         take2.click()
     time.sleep(3)
     seller_rating.append(driver.find_element(By.XPATH,"//*[@id='pi-component-container']/div/div[2]/div/div/div/div[2]/div[1]/div/div/div/div[2]/div[3]").text[1])
     followers.append(driver.find_element(By.XPATH,"//*[@id='pi-component-container']/div/div[2]/div/div/div/div[2]/div[1]/div/div/div/div[2]/div[2]/div").text)
     lis.append(beta[0])
     mall_type.append(mall)
     store_name.append(beta[-1])
     time.sleep(3)
     driver.back()
     time.sleep(3)
     driver.back()
     time.sleep(4)
     #search1[i].click()
     driver.back()
     time.sleep(7)
f=[i.replace("Followers","") for i in followers]
driver.close()

C:\TEMP\ipykernel_16256\2542058452.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(path)

In [25]:
df=pd.DataFrame(columns=["Store Name","Daraz Mall/ Private","Avg Price","Listings","Seller Rating","Country","Followers"])

In [26]:
df["Store Name"]=store_name
df["Daraz Mall/ Private"]=mall_type
df["Avg Price"]=avg_price
df["Listings"]=lis
df["Seller Rating"]=seller_rating
df["Country"]=country_type
df["Followers"]=f

In [28]:
df

,Store Name,Daraz Mall/ Private,Avg Price,Listings,Seller Rating,Country,Followers
0,Hontinga,Daraz Mall,533,79305,3,China,31914
1,UCUC,Daraz Mall,520,56524,3,China,8202
2,FELMYST,Daraz Mall,647,55050,2,China,2135
3,Jizetin,Daraz Mall,553,57418,4,China,4707
4,LENUO,Daraz Mall,676,4693,1,Pakistan,15140
5,Lereach,Daraz Mall,826,2496,9,China,2785
6,Hybrid,Daraz Mall,669,270,6,China,679
7,Frakin,Daraz Mall,160,3,9,Pakistan,26013
8,Mizuma,Private Mall,330,25,8,Pakistan,173
9,Solution,Private Mall,500,1,3,Pakistan,1812
10,Nillkin,Daraz Mall,1494,256,2,Pakistan,13222

In [29]:
#Run this cell to see the sample output
import pandas as pd
pd.read_csv('output.csv')

,Store Name,Daraz Mall/Private,Avg Price,Listings,Avg unit selling,Seller Ratings,Country,Followers
0,Hontinga,Daraz Mall,565,187414,110,93,Overseas,29919
1,ABC MOBILE ACCESSORIES STORE ( FAISALABAD ),Private,95,438,29,93,Pakistan,11969